@import url("http://fonts.googleapis.com/css?family=Roboto");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end css reset; begin custom css */

body {
	font: medium 'Roboto', sans-serif;
	color: black;
	background-color: lightsteelblue;
}

header {
	text-align: right;
	color: white;
}

main {
	width: 946px;
}

aside#utility {
	width: 150px;
	float: left;
}

section#content {
	width: 500px;
	display: inline-block;
}

section#sidebar {
	width: 200px;
	float: right;
}

aside#utility, section#content, section#sidebar, div.didit {
	padding: 10px;
	margin: 5px;
	border: 1px solid #b0b0b0;
	background-color: #f0f0f0;
}

aside button {
	width: 120px;
}

button#refreshDidits {
	width: 100%;
}

div.didit {
	width: 470px;
	background-color: white;
}

.diditByline {
	font-size: 70%;
}

.watches {
	margin: 5px 0;
	background-color: white;
}

body.nightmode, aside.nightmode, section.nightmode, div.didits.nightmode, div.didit.nightmode, button.nightmode, .watches.nightmode {
	color: darkgrey;
  background-color: black;
}